# Environment variables for ONGC cluster monitoring
PROMETHEUS_URL=http://localhost:9090
EMAIL_USER=youremail@gmail.com
EMAIL_PASSWORD=your_app_password
ALERT_EMAIL_TO=alerts@example.com,ops@example.com
ALERT_EMAIL_FROM=youremail@gmail.com
EMAIL_SMTP_SERVER=smtp.gmail.com
EMAIL_SMTP_PORT=587

# Optional test/infrastructure variables
NODES=192.168.56.101,192.168.56.102,192.168.56.103
SSH_USER=arunabh
SSH_KEY=/path/to/private_key
SSH_PASSWORD=
